#toolbar_accountantList
    .btn-group(role='group')
        button.btn.btn-default(type='button', onclick="$('#accountantList').bootstrapTable('refresh')")
            span.glyphicon.glyphicon-repeat
            | 刷新
    form.searchBar.form-inline
        .form-group
            label 姓名
            input.form-control(type='text', placeholder='请填写', name='name')
        .form-group
            label 身份证号
            input.form-control(type='text', placeholder='请填写', name='id_card')
        button.searchBtn.btn.btn-primary(type='button') 查询

table#accountantList
#modal_accountant_check.modal.bs-example-modal-lg.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-lg(role='document')
        .modal-content
            .modal-header
                h4.modal-title 学籍信息
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span.glyphicon.glyphicon-remove(aria-hidden='true')
            .modal-body
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') 关闭

#modal_accountant_update.modal.bs-example-modal-lg.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-lg(role='document')
        .modal-content
            .modal-header
                h4.modal-title 学籍信息
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span.glyphicon.glyphicon-remove(aria-hidden='true')
            .modal-body

script(src='/javascripts/accountantManager.js' type='text/javascript')