doctype html
html
  head
    include ./../common/header_inner.jade
    link(rel='stylesheet', href='/stylesheets/login.css')
  body(style="background-color: #fff")
    .tableWrap
        .tableCellWrap
            div.loginBox.pro_searchbox
                p.title #{sysConfig.pro_searchBoxTitle || '查询入口'}
                form#loginForm.form-horizontal(action="/profession/get?hasBack=1", method="POST")
                    .form-group
                        label.col-sm-3.control-label 姓名：
                        .col-sm-9 
                            input.form-control(type='text', name="name")
                    .form-group
                        label.col-sm-3.control-label 身份证号：
                        .col-sm-9 
                            input.form-control(type='text', name="id_card")
                    .form-group
                        label.col-sm-3.control-label 证书编号：
                        .col-sm-9 
                            input.form-control(type='text', name="certificate_num")
                    button#loginBtn.btn.btn-primary.btn-block.btn-lg(type='button', style="margin-top: 30px;") 
                        i.glyphicon.glyphicon-search
                        | 查　询
                    p.tips 注：输入姓名、身份证号或证书编号其中任两项即可查询！
    include ./../common/body_inner.jade
script. 
    $(function(){
        var search = function(){
            var submitFlag = 0;
            $("#loginForm .form-control").each(function(){
                if($(this).val())submitFlag+=1;
            });
            if(submitFlag >= 2){
                $("#loginBtn").text("查询中...");
                $("#loginForm").submit();
            }else{
                $.tipsShow({
                    msg: '输入姓名、身份证号或证书编号其中任两项',
                    code: 1
                })
            }
        };
        $(document.body).on('keyup', function(e){
            if(e.keyCode == 13)
                search();
        });
        $("#loginBtn").on('click', function(e){
            search();
        });
    })
