doctype html
html
    head
        include ./common/header_inner.jade
        link(rel='stylesheet', href='/stylesheets/index.css')
    body
        div#app
            div#header
                .logoWrap
                    img.logo(src="/images/sjbw_logo.png", alt="")
                .userInfo
                    span 您好！#{username}
                    a.logout(href="/login/logout") [安全退出]
                .topMenus
                    a(href="/").items 学籍信息
                    a(href="/acc").items 会计信息
                    a.items.active 职业技术人才
                    a(href="/sys").items 系统设置
            div#menuBar
                p.title 菜单
                .list-group
                    a.list-group-item(data-url='/profession/add' href="javascript:void(0)")
                        span.glyphicon.glyphicon-pencil
                        | 信息录入
                        span.glyphicon.glyphicon-chevron-right
                    a.list-group-item(data-url='/profession/list' href="javascript:void(0)")
                        span.glyphicon.glyphicon-th-list
                        | 信息管理
                        span.glyphicon.glyphicon-chevron-right
            div#contentWrap    
    
    include ./common/body_inner.jade
    script(src="/javascripts/index.js" type="text/javascript")