doctype html
html
    head
        include ./common/header_inner.jade
        link(rel='stylesheet', href='/stylesheets/index.css')
    body
        div#app
            div#header
                .logoWrap
                    img.logo(src="/images/sjbw_logo.png", alt="")
                .userInfo
                    span 您好！#{username}
                    a.logout(href="/login/logout") [安全退出]
                .topMenus
                    a.items.active 学籍信息
                    a(href="/acc").items 会计信息
            div#menuBar
                p.title 菜单
                .list-group
                    a.list-group-item(data-url='/student' href="javascript:void(0)")
                        span.glyphicon.glyphicon-pencil
                        | 学籍信息录入
                        span.glyphicon.glyphicon-chevron-right
                    a.list-group-item(data-url='/student/list' href="javascript:void(0)")
                        span.glyphicon.glyphicon-th-list
                        | 学籍信息管理
                        span.glyphicon.glyphicon-chevron-right
                    a.list-group-item(data-url='/school/list' href="javascript:void(0)")
                        span.glyphicon.glyphicon-home
                        | 学校管理
                        span.glyphicon.glyphicon-chevron-right
                    a.list-group-item(data-url='/report/template?_id=report_template' href="javascript:void(0)")
                        span.glyphicon.glyphicon-print
                        | 打印模板管理
                        span.glyphicon.glyphicon-chevron-right
            div#contentWrap    
    
    include ./common/body_inner.jade
    script(src="/javascripts/index.js" type="text/javascript")
    script(src="/plugins/jqPrint/jQuery.print.js" type="text/javascript")
    script(src="/plugins/jsPDF/jspdf.min.js" type="text/javascript")