doctype html
html
  head
    include ./common/header_inner.jade
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    p bbb
    include ./common/body_inner.jade
    script(src="/javascripts/index.js" type="text/javascript")