@import 'init.less';
*{
    box-sizing: border-box;
    position: relative;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
}

a,input,button,textarea{
    text-decoration: none;
    outline: none;
    &:hover,&:active,&:focus,&:focus:active{
        text-decoration: none!important;
        outline: none!important;
        box-shadow: none!important;
    }
}
input,textarea,select{
    &::-webkit-input-placeholder { /* WebKit browsers */ 
        color: #aaa!important; 
    } 
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
        color: #aaa!important; 
    } 
    &::-moz-placeholder { /* Mozilla Firefox 19+ */ 
        color: #aaa!important; 
    } 
    &:-ms-input-placeholder { /* Internet Explorer 10+ */ 
        color: #aaa!important; 
    }
    &:hover,
    &:active,
    &:focus,
    &:blur{
        outline: none;
        box-shadow: none;
    }
    &.error{
        border: 1px solid @red!important;
    }
}
input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill {
    background-image: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}
button{
    .glyphicon{
        margin-right: 4px;
    }
}
.modal{
    .close{
        position: absolute;
        right: 18px;
        top: 18px;
    }
    .modal-dialog{
        margin-top: 50px;
    }
}
.bootstrap-table{
    .fixed-table-pagination{
        padding: 0px 10px;
    }
    .operateBtn{
        margin: 0px 6px;
        &:hover{
            color: @blue;
            cursor: pointer;
        }
    }
}
#topTips{
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-left: 35px;
    margin: 0px;
    text-align: center;
    border-radius: 0px;
    border: none;
    z-index: 99999999;
    &.alert-warning{
        span{
            color: darken(@yellow, 15%);
        }
    }
    &.alert-danger{
        span{
            color: @red;
        }
    }
    &.show{
        display: block;
    }
}
.clear{
    &:after{
        content: "."; 
        display: block; 
        height: 0; 
        clear: both; 
        visibility: hidden;  
    }  
}
