.noSelect {
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@-webkit-keyframes upShow {
  0% {
    transform: translateY(50px);
    -ms-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -o-transform: translateY(50px);
    opacity: 0;
    -moz-opacity: 0;
    -o-opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    opacity: 1;
    -moz-opacity: 1;
    -o-opacity: 1;
    filter: alpha(opacity=10);
  }
}
@keyframes upShow {
  0% {
    transform: translateY(50px);
    -ms-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -o-transform: translateY(50px);
    opacity: 0;
    -moz-opacity: 0;
    -o-opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    opacity: 1;
    -moz-opacity: 1;
    -o-opacity: 1;
    filter: alpha(opacity=10);
  }
}
.upShow {
  -webkit-animation-name: upShow;
  animation-name: upShow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}
#watermask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.watermark {
  position: absolute;
  font-size: 30px;
  color: #bbb;
  font-size: '黑体';
  font-weight: 900;
  white-space: nowrap;
  z-index: 1;
  opacity: 0.6;
  -moz-opacity: 0.6;
  -o-opacity: 0.6;
  filter: alpha(opacity=6);
  transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
}
#modal_student_check .modal-dialog {
  min-width: 850px;
}
#wrap_table_student_check {
  z-index: 1;
}
#wrap_table_student_check .report_code {
  float: right;
  color: #999;
  margin: 10px 0px;
}
#wrap_table_student_check table {
  width: 100%;
  border-collapse: collapse;
}
#wrap_table_student_check table td {
  border: 1px solid #666;
  text-align: center;
  padding: 10px 20px;
  vertical-align: middle;
  color: #333;
  background-color: #fff;
}
#wrap_table_student_check table td.bigTitle {
  font-size: 18px;
  color: #000;
  background-color: #f5f7f9;
}
#wrap_table_student_check table td.title {
  font-weight: 900;
  background-color: #f5f7f9;
}
#wrap_table_student_check table td img.portrait {
  width: 164px;
}
#wrap_table_student_check.accountant table td {
  border-width: 2px;
  text-align: left;
  padding: 10px;
  border-color: #333;
  background-color: transparent;
  font-size: 16px;
  font-weight: normal;
}
#wrap_table_student_check.profession table td {
  text-align: left;
  padding: 10px;
  border-color: #aaa;
  color: #555;
  font-weight: normal;
  font-size: 14px;
  padding: 9px;
  background-color: transparent;
}
#wrap_table_student_check.profession table td.title {
  background-color: transparent;
  text-align: right;
}
#wrap_table_student_check .bigTitle {
  font-size: 28px;
  font-weight: 900;
  padding: 20px;
  text-align: center;
  font-family: '微软雅黑', '黑体', Arial;
}
#wrap_table_student_check .dataBlock {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 20%;
  text-align: center;
  padding: 10px;
}
#wrap_table_student_check .dataBlock p {
  font-size: 18px;
  font-weight: 600;
}
#wrap_table_student_check .dataBlock span {
  font-size: 16px;
  font-weight: normal;
}
#wrap_table_student_check .toSearchPage {
  display: block;
  font-size: 14px;
  margin-top: 15px;
}
