#table_student_check{
    width: 100%;
    border-collapse: collapse;
    td{
        border: 1px solid #666;
        text-align: center;
        padding: 10px 20px;
        vertical-align: middle;
        color: #333;
        &.bigTitle{
            font-size: 18px;
            color: #000;
            background-color: #f5f7f9;
        }
        &.title{
            font-weight: 900;
            background-color: #f5f7f9;
        }
        img.portrait{
            width: 164px;
        }
    }
}
.toSearchPage{
    display: inline-block;
    font-size: 14px;
    margin-top: 15px;
}