doctype html
html
  head
    include ./../common/header_inner.jade
    link(rel='stylesheet', href='/stylesheets/login.css')
  body
    img.logo(src="/images/sjbw_logo.png", alt="logo")
    div.loginBox
        p.title 用户登录
        div.formDiv
            div.formGroup
                label(for="username") 用户名：
                input#username.username(type="text", placeholder="请输入用户名", autofocus="autofocus")
            div.formGroup
                label(for="username") 密　码：
                input#password.password(type="password", placeholder="请输入密码")
            div.pswSetting
                div.pswSettingWrap
                    label.rememberPswWrap
                        input#rememberPsw(type="checkbox")
                        span 记住密码
                    label.forgetPswWrap
                        a(href="") 忘记密码？
            button#loginBtn.loginBtn 登　录
    include ./../common/body_inner.jade
    script(src="/javascripts/login.js" type="text/javascript")