div(id="global_simpleTips")
    div(class="wrap")
        div(class="box")
script(src="/javascripts/plugins/jquery/jquery-1.12.3.min.js" type="text/javascript")
script(src="/javascripts/util.js" type="text/javascript")