meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")
title 世纪博文信息录入系统-#{title}
link(rel='stylesheet', href='/plugins/bootstrap-3.3.7/css/bootstrap.min.css')
link(rel='stylesheet', href='/plugins/bootstrap-table/bootstrap-table.min.css')
link(rel='stylesheet', href='/stylesheets/common.css')