div#page_stuInfoEnter(style="text-align: center")
    form#stuInfoEnterWrap.clear(action="/student/add", method="post", enctype="multipart/form-data", style="display: inline-block; max-width: 800px; padding-top: 40px;")
        div.formGroup(style="width: 355px; height: 201px")
            div.portraitWrap
                img.portrait(src="/images/portrait.png", alt="头像")
                input(type="file", name="portrait", placeholder="请选择文件",  accept="image/x-png,image/gif,image/jpeg,image/bmp,image/jpeg,image/png")
                button.fileButton(type="button") 上传头像
        div.formGroup
            label 姓名：
            div.inputWrap
                input(type="text", name="name", placeholder="请填写", autofocus="autofocus", value="test")
        div.formGroup
            label 性别：
            div.inputWrap
                label.radioLabel
                    input(type="radio", name="sex", value="男", checked="checked") 
                    span 男
                label.radioLabel
                    input(type="radio", name="sex", value="女") 
                    span 女
        div.formGroup
            label 民族：
            div.inputWrap
                input(type="text", name="nation", placeholder="请填写", value="汉")
        div.formGroup
            label 出身日期：
            div.inputWrap
                input(type="date", name="birthday", placeholder="请选择", value="1991-02-12")
        div.formGroup
            label 身份证号：
            div.inputWrap
                input(type="text", name="id_card", placeholder="请填写", value="23435345")
        div.formGroup
            label 毕业院校：
            div.inputWrap
                input(type="text", name="graduate_institutions", placeholder="请填写", value="test")
        div.formGroup
            label 学历类型：
            div.inputWrap
                select(name="education_type", placeholder="请选择")
                    option(value="普通中等教育") 普通中等教育
                    option(value="普通高等教育") 普通高等教育
        div.formGroup
            label 专业名称：
            div.inputWrap
                input(type="text", name="major", placeholder="请填写", value="test")
        div.formGroup
            label 学历层次：
            div.inputWrap
                select(name="edu_level", placeholder="请选择")
                    option(value="中专") 中专
                    option(value="大专") 大专
                    option(value="本科") 本科
                    option(value="硕士") 硕士
                    option(value="博士") 博士
        div.formGroup
            label 学习形式：
            div.inputWrap
                select(name="edu_type", placeholder="请选择")
                    option(value="全日制") 全日制
                    option(value="普通全日制") 普通全日制
                    option(value="在职") 在职
        div.formGroup
            label 入学时间：
            div.inputWrap
                input(type="date", name="admission_date", placeholder="请选择", value="2019-01-23")
        div.formGroup
            label 毕业时间：
            div.inputWrap
                input(type="date", name="graduation_date", placeholder="请选择", value="2019-01-23")
        div.formGroup
            label 学制：
            div.inputWrap
                select(name="edu_year", placeholder="请选择")
                    option(value="两年") 两年
                    option(value="三年") 三年
                    option(value="四年") 四年
                    option(value="五年") 五年
        div.formGroup
            label 证书编号：
            div.inputWrap
                input(type="text", name="certificate_num", placeholder="请填写", value="23345345345345")
        div.formGroup
            label 毕结业结论：
            div.inputWrap
                select(name="edu_conclusion", placeholder="请选择")
                    option(value="0") 毕业
                    option(value="1") 结业
        div.formGroup
            label 查询网址：
            div.inputWrap
                input(type="text", name="check_website", placeholder="请填写", value="www.ahjzgc.org.cn")
        div.buttonList(style="text-align: center")
            button.reset(type="reset") 重置
            button.submit(type="button") 确认提交
script(src="/javascripts/student.js" type="text/javascript")