#toolbar_studentList
    .btn-group(role='group')
        //- button.btn.btn-default(type='button', data-toggle="modal", data-target="#modal_school") 
        //-     span.glyphicon.glyphicon-plus
        //-     | 新增
        //- button.btn.btn-default(type='button') 
        //-     span.glyphicon.glyphicon-remove
        //-     | 批量删除
        button.btn.btn-default(type='button', onclick="$('#studentList').bootstrapTable('refresh')")
            span.glyphicon.glyphicon-repeat
            | 刷新
table#studentList

#modal_student_check.modal.bs-example-modal-lg.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-lg(role='document')
        .modal-content
            .modal-header
                h4.modal-title 学籍信息
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span.glyphicon.glyphicon-remove(aria-hidden='true')
            .modal-body
            .modal-footer
                button.btn.btn-primary.print(type='button') 
                    span.glyphicon.glyphicon-print(style="vertical-align: -1px; font-size: 14px;")
                    | 打印
                button.btn.btn-danger.download(type='button')
                    span.glyphicon.glyphicon-download(style="vertical-align: -2px; font-size: 15px;")
                    | 下载PDF
                button.btn.btn-default(type='button', data-dismiss='modal') 关闭

#modal_student_update.modal.bs-example-modal-lg.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-lg(role='document')
        .modal-content
            .modal-header
                h4.modal-title 学籍信息
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span.glyphicon.glyphicon-remove(aria-hidden='true')
            .modal-body

script(src="/javascripts/studentManager.js" type="text/javascript")