#operationTips
    .bigTips
        img(src="/images/i_success.png", alt="")
        span.success 添加成功！
    .buttonList
        a.reset(href="/?tab=/student/list") 返回管理列表
        a.submit(href="/?tab=/student") 继续添加
